@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --smoke: #E5E5E5;
  --golden: #E49F09;
}

body {
  background-color: #142641;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background: #E5E5E5;
}
::-webkit-scrollbar-thumb:hover {
  background: #e5e5e5a8;
}
